#!/usr/bin/make -f

build-indep: build-stamp
build-arch: build-stamp
build: build-arch build-indep
build-stamp:
	dh_testdir
	touch build-stamp


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_prep

	# Add here commands to install the package into debian/lynis.
	install -D -m 0755 ../lynis/lynis $(CURDIR)/debian/lynis/usr/sbin/lynis
	install -D -m 0644 ../lynis/default.prf $(CURDIR)/debian/lynis/etc/lynis/default.prf
	install -D -m 0644 ../lynis/developer.prf $(CURDIR)/debian/lynis/etc/lynis/developer.prf
	install -d ../lynis/include/ $(CURDIR)/debian/lynis/usr/share/lynis/include/
	install -m 0644 ../lynis/include/* $(CURDIR)/debian/lynis/usr/share/lynis/include/
	install -d ../lynis/plugins/ $(CURDIR)/debian/lynis/usr/share/lynis/plugins/
	install -m 0755 ../lynis/plugins/custom_plugin.template $(CURDIR)/debian/lynis/usr/share/lynis/plugins/
	install -m 0644 ../lynis/plugins/README $(CURDIR)/debian/lynis/usr/share/lynis/plugins/README
	install -d ../lynis/db $(CURDIR)/debian/lynis/usr/share/lynis/db/
	install -m 0644 ../lynis/db/*.db $(CURDIR)/debian/lynis/usr/share/lynis/db/
	install -d ../lynis/db/languages $(CURDIR)/debian/lynis/usr/share/lynis/db/languages
	install -m 0644 ../lynis/db/languages/* $(CURDIR)/debian/lynis/usr/share/lynis/db/languages/
	mkdir -p ../lynis/debian/lynis/usr/share/applications/
	#install -m 0644 ../lynis/debian/lynis.desktop $(CURDIR)/debian/lynis/usr/share/applications/



# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ../lynis/CHANGELOG.md
	dh_installdocs
	dh_installmenu
	dh_installman
	dh_install
	dh_link
	dh_compress
	dh_fixperms -Xinclude
	dh_lintian -plynis
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

